# =========================
# Project specific
# =========================
coverage
.datastore
docs

# =========================
# General
# =========================
.git

# =========================
# IDEs
# =========================

# IntelliJ / Webstorm
.idea

# Visual Code
.vscode

# =========================
# NPM
# =========================
node_modules
